<mat-card>

  <span *ngIf="!own_comment || !editing">
    <mat-card-title>{{author}}</mat-card-title>
    <mat-card-subtitle>{{comment?.date | date: 'YYYY-MM-dd hh:mm:ss'}}</mat-card-subtitle>
    <mat-card-content>{{comment?.comment}}</mat-card-content>
    <button *ngIf="own_comment" mat-button color="accent"(click)="startEdit()">Edit</button>
    <button *ngIf="own_comment" mat-button color="warn"(click)="delete()">Delete</button>
  </span>

  <span *ngIf="own_comment && editing">
    <form [formGroup]="commentEditForm" (ngSubmit)="submitEdit()">
      <mat-card-content>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Editing comment</mat-label>
          <textarea matInput placeholder="Ex. It makes me feel..." formControlName="comment">{{comment?.comment}}</textarea>
        </mat-form-field>
      </mat-card-content>
      <button mat-raised-button color="accent" type="submit">Finish Editing</button>
      <button mat-button color="warn" (click)="cancelEdit()">Cancel</button>
    </form>
  </span>

</mat-card>
