<mat-card class="mat-elevation-z2 outline">
  <img mat-card-lg-image src="{{image_url}}" alt="{{title}}">
  <mat-card-title-group>
    <mat-card-title>{{title}} <mat-icon aria-hidden="false" aria-label="Verified icon">verified_user</mat-icon></mat-card-title>
    <mat-card-subtitle>{{desc}}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-actions>
    <button mat-button color="accent">Details</button>
    <button mat-raised-button color="primary">Download</button>
  </mat-card-actions>
</mat-card>
