<form class="main_component" [formGroup]="loginForm" (ngSubmit)="login()">
  <h1>Welcome back, please sign in!</h1>
  <mat-form-field>
    <mat-label for="email">Email: </mat-label><input matInput type="text" formControlName="email" required />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="password">Password: </mat-label><input matInput type="password" formControlName="password" required />
  </mat-form-field>
  <span>
      <span><button mat-raised-button color="primary" type="submit">Login</button></span>
      <span><button mat-raised-button color="primary" [routerLink]="'/signup'">Sign Up</button></span>
  </span>
  <span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </span>
</form>
